
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}AEROBIK{% endblock %}</title>

        <link href="/aerobik.rs/web/bundles/aerobic/css/bootstrap.css" rel="stylesheet">
        {% stylesheets '@AerobicBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>

    <body>

        <div class="container">

            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">Aerobic</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>

            {% block body %}
            {% endblock %}
        </div> <!-- /container -->

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        {% javascripts '@AerobicBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
